@import 'styles/variables';

.TableRow {
  border-bottom: 1px solid $color_border-gray;
}

.TableRow-Color {
  @extend %color-circle;
}

.TableRow-Button {
  width: 25px;
  height: 25px;
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: center center;

  &_edit {
    margin-right: 5px;
    background-image: url('../../assets/icons/pencil-edit.svg');
  }
  &_remove {
    background-image: url('../../assets/icons/delete.svg');
  }
}

.TableRow-Controls {
  display: flex;
  justify-content: center;
}
